<h1 class="align">Find Your Job </h1>
<div class="tab">
    <button class="tablinks active"  (click)="navigateToJobs('jobs')">Jobs</button>
    <button class="tablinks"  (click)="navigateToJobs('favourite')">Favorites</button>
  </div><div>
    <h4 style="margin-left: 15%;color: black;font-size: 15px;font-weight: 300;" (click)="navigateToJobs('jobs')">&#8962; Back</h4>
    <div class="job-card" style="display: flow;">
        
        <div class="job-details" style="display: flex;">
            <img class="company-logo" [src]="jobdata.companyLogo" alt="Company Logo">
            <div>
                <p class="title2">{{ jobdata.title }}</p>
                <div class="chip-container" [innerHTML]="generateChips()">
                   
                  </div>
            </div>
       
         
        </div>
        
          <br>
        <p class="info" style="
        display: inline-grid;
    ">
            <span><span style="font-weight: bold;">Published Date:</span> {{ jobdata.publishDate }}</span>
            <span class="location"><span style="font-weight: bold;">Location:</span> {{ jobdata.location }}</span>
            <span class="reference"><span style="font-weight: bold;">Reference:</span> {{ jobdata.reference }}</span>
        </p>
    <br>
    <span style="font-weight: bold;">Description:</span>
    <div [innerHTML]="jobdata.description"></div>
    
</div>
</div>
